<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NugetPackages" value="https://git.snappfood.ir/api/v4/projects/752/packages/nuget/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <NugetPackages>
      <add key="Username" value="javid.asadi" />
      <add key="ClearTextPassword"  value="glpat-UiSxyr3zGpsZU4QY_fex" />
      <add key="ValidAuthenticationTypes" value="basic" />
    </NugetPackages>
  </packageSourceCredentials>
</configuration>